<table>
  <tr>
    <th>Name</th>
    <th>VHost</th>
    <th>Durable</th>
    <th>Auto-Delete</th>
    <th>Messages Ready</th>		
    <th>Messages Unacknowledged</th>
    <th>Messages Uncommitted</th>
    <th>Messages</th>
    <th>Acks Uncommitted</th>
    <th>Consumers</th>
    <th>Transations</th>
    <th>Memory</th>
  </tr>
<%- @queues.each do |e| %>
  <tr>
    <td><%=e.name%></td>
    <td><%=e.vhost%></td>
    <td><%=e.durable%></td>
    <td><%=e.auto_delete%></td>
    <td><%=e.messages_ready%></td>
    <td><%=e.messages_unacknowledged%></td>    
    <td><%=e.messages_uncommitted%></td>    
    <td><%=e.messages%></td>    
    <td><%=e.acks_uncommitted%></td>
    <td><%=e.consumers%></td>
    <td><%=e.transactions%></td>    
    <td><%=e.memory%></td>    
  </tr>
<%- end %>
