<h2>Connections:</h2>
<% if @connections  %>
  <% @connections.each do |c| %>

    <div class="connection">

      <h2>
        Connection: <%=c.full_address%> from <%=c.full_peer_address%> by <%=c.user%> 
        <div class="connection-status"><%=c.state%></div>
      </h2>
        
      <div class="columns three-column">
        <div class="column">
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.channels)%></strong>
              channels
          </div>
        </div>

        <div class="column">            
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.frame_max)%></strong>
              frame-max
          </div>
        </div>

        <div class="column">
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.timeout)%></strong>
              timeout
          </div>            
        </div>
      </div>

      <br clear="all"/> 

      <div class="columns three-column">
        <div class="column">
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.recv_oct || 0)%></strong>
              recv oct
          </div>
        </div>

        <div class="column">            
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.recv_cnt || 0)%></strong>
              recv cnt
          </div>
        </div>

        <div class="column">
          <div class="verticalcenter">
        </div>            
      </div>

      <br clear="all"/>
        
      <div class="columns three-column">
        <div class="column">
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.send_pend || 0)%></strong>
              send pend
          </div>
        </div>

        <div class="column">            
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.send_oct || 0)%></strong>
              sent oct
          </div>
        </div>

        <div class="column">
          <div class="verticalcenter">
            <strong class="med"><%=number_with_delimiter(c.send_cnt || 0)%></strong>
              sent cnt
          </div>            
        </div>
      </div>

      <br clear="all"/>                

    </div>

  <% end %>
<% end %>
