<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag :defaults %>

<% if @status %>
  <%= render :partial => "status" %>
  <% if @status.running_nodes.size > 0 %>
    <div class="vhost">
      <h1>VHost: <%=@selected_vhost%></h1>
      <%= render :partial => "vhost" %>
      <%= render :partial => "queue" %>
      <%= render :partial => "exchange" %>
      <%= render :partial => "user" %>     
      <%= render :partial => "connection" %>
    </div>
  <% end %>
<% else %>
  <h2>Cannot connect to RabbitMQ, please make sure Rabbit is running.</>
<% end %>
