<div id="status">
  <div id="services">
    <b>Running Services</b>: 
    <% if @status %>

      <%= @status.running_applications.collect {|app| app.service }.join(", ")%>

    <% else %>

      <h2>Cannot connect to RabbitMQ, please make sure Rabbit is running.</>

    <% end %>
  </div>

<% if @status %>

  <div id="nodes">
    <h1>Nodes</h1>
    <% @status.nodes.each do |node| %>
    <% status = (@status.running_nodes.include?(node) ? "running" : "stopped")%>
    <div class="node"><div class="status <%=status%>"><%=status%></div><%= node %></div>
    <% end %>
  </div>
</div>

<div id="host-status">

<% form_for :vhost, :url => "/" do |f| -%>
  <p>
    <%= f.label "Select vhost" %>
    <%= collection_select :vhost, :name, @vhosts, :name, :name, { :include_blank => true } %>
    <%= submit_tag 'Submit' %>
  </p>
<% end -%>

<% if @status.running_nodes.size > 0 %>
    <div class="vhost">
      <h1>VHost: <%=@selected_vhost%></h1>

      <% if @queues %>
      <h2>Queues:</h2>
        <% @queues.each do |queue| %>
          <div class="queue">
            <h2>
              <%=image_tag("/images/database.png")%> QUEUE: <%=queue.name%>
              <% if queue.durable == "true" %><div class="queue-status">durable</div><%end%>
              <% if queue.auto_delete == "true"%><div class="queue-status">auto delete</div><%end%>
            </h2>

            <h3>Status</h3>
            <div class="columns four-column">
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=queue.consumers%></strong>
                  consumers
                </div>
              </div>
              <div class="column">            
                <div class="verticalcenter">
                  <strong class="med"><%=queue.transactions%></strong>
                  transactions
                </div>
              </div>
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=number_to_human_size(queue.memory)%></strong>
                  memory
                </div>            
              </div>
              <div class="column lastcolumn">
              </div>
            </div>
            <br clear="all"/>
                        
            <h3>Messages</h3>
            <div class="columns four-column">
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages)%></strong>
                  total
                </div>
              </div>
              <div class="column">            
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages_ready)%></strong>
                  ready
                </div>
              </div>
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages_unacknowledged)%></strong>
                  unacknowledged
                </div>            
              </div>
              <div class="column lastcolumn">
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages_uncommitted)%></strong>
                  uncommitted
                </div>            
              </div>
            </div>
            <br clear="all"/>            
            
          </div>
        <% end %>
      <% end %>

      <% connections = @connections.select {|c| c.vhost == @selected_vhost } %>
      <% if connections.size > 0 %>
      <h2>Connections:</h2>
      <% connections.each do |c| %>
        <div class="connection">
          <h2>Connection: <%=c.full_address%> from <%=c.full_peer_address%> by <%=c.user%> 
          <div class="connection-status"><%=c.state%></div>
          </h2>
        
        <div class="columns three-column">
          <div class="column">
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.channels)%></strong>
              channels
            </div>
          </div>
          <div class="column">            
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.frame_max)%></strong>
              frame-max
            </div>
          </div>
          <div class="column">
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.timeout)%></strong>
              timeout
            </div>            
          </div>
        </div>
        <br clear="all"/> 
        <div class="columns three-column">
          <div class="column">
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.recv_oct || 0)%></strong>
              recv oct
            </div>
          </div>
          <div class="column">            
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.recv_cnt || 0)%></strong>
              recv cnt
            </div>
          </div>
          <div class="column">
            <div class="verticalcenter">
            </div>            
          </div>
        </div>
        <br clear="all"/>
        
        <div class="columns three-column">
          <div class="column">
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.send_pend || 0)%></strong>
              send pend
            </div>
          </div>
          <div class="column">            
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.send_oct || 0)%></strong>
              sent oct
            </div>
          </div>
          <div class="column">
            <div class="verticalcenter">
              <strong class="med"><%=number_with_delimiter(c.send_cnt || 0)%></strong>
              sent cnt
            </div>            
          </div>
        </div>
        <br clear="all"/>                
      </div>
      <% end %>
      <% end %>

      <h2>Exchanges:</h2>
        <% @exchanges.select {|e| e.vhost == @selected_vhost }.each do |ex|%>
          <div class="exchange">
          <h2><%=ex.name%> <div class="exchange-type"><%=ex.exchange_type%></div></h2>      
          <% if @bindings %>
          Bindings:
          <ul>
            <% exchange_bindings = @bindings.select{ |b| b.exchange == ex.name } %>
            <% exchange_bindings.each do |binding| %>
              <li>Queue: <%=binding.queue%> (Routing Key: <%=binding.routing_key%>)</li>
            <% end %>
          </ul>
          <%end%>
          </div>
        <% end %>
      
      <h2>Users:</h2>
      <ul>
        <% @users.select {|u| u.vhost == @selected_vhost }.each do |u| %>
          <li><%=u.name%></li>
        <% end %>
      </ul>
    </div>
<% end %>
</div>
<% end %>
