<h1>Add an Exchange</h1>

<%= flash_messages %>

<%= error_messages_for :exchange %>

<% form_for :exchange, :url => exchanges_path do |f| -%>
<p><%= label_tag 'Name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'VHost' %><br/>
<%= f.collection_select(:vhost, @vhosts, :name, :name) %></p>

<p><%= label_tag 'Type' %><br/>
<%= select(:exchange, :type, [["Direct","direct"],["Fanout","fanout"], ["Headers", "headers"], ["Topic", "topic"]]) %></p>

<p><%= label_tag 'Durable' %><br/>
<%= select(:exchange, :durable, [["Yes",true],["No",false]]) %></p>

<p><%= submit_tag 'Submit' %>
<% end -%>

