<div id="status">
  <div id="services">
    <b>Running Services</b>: 
    <%= @status.running_applications.collect {|app| app.service }.join(", ")%>
  </div>

  <div id="nodes">
    <h1>Nodes</h1>
    <% @status.nodes.each do |node| %>
    <% status = (@status.running_nodes.include?(node) ? "running" : "stopped")%>
    <div class="node"><div class="status <%=status%>"><%=status%></div><%= node %></div>
    <% end %>
  </div>
</div>

<div id="host-status">
<% if @status.running_nodes.size > 0 %>
  <%-@vhosts.each do |vhost| %>
    <div class="vhost">
      <h1>VHost: <%=vhost.name%></h1>
      
      <h2>Exchanges:</h2>
        <% @exchanges.select {|e| e.vhost == vhost.name }.each do |ex|%>
          <div class="exchange">
          <h2><%=ex.name%> <div class="exchange-type"><%=ex.exchange_type%></div></h2>      
          <% bindings = @bindings.select {|b| b.vhost == vhost.name && b.exchange == ex.name }%>
          <% if bindings.size > 0 %>
          Bindings:
          <ul>
            <% bindings.each do |binding| %>
              <li>Queue: <%=binding.queue%> (Routing Key: <%=binding.routing_key%>)</li>
            <% end %>
          </ul>
          <%end%>
          </div>
        <% end %>
      </ul>

      <h2>Queues:</h2>
        <% @queues.select {|q| q.vhost == vhost.name }.each do |queue| %>
          <div class="queue">
            <h2>
              <%=image_tag("/images/database.png")%> QUEUE: <%=queue.name%>
              <% if queue.durable == "true" %><div class="queue-status">durable</div><%end%>
              <% if queue.auto_delete == "true"%><div class="queue-status">auto delete</div><%end%>
            </h2>

            <h3>Status</h3>
            <div class="columns four-column">
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=queue.consumers%></strong>
                  consumers
                </div>
              </div>
              <div class="column">            
                <div class="verticalcenter">
                  <strong class="med"><%=queue.transactions%></strong>
                  transactions
                </div>
              </div>
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=number_to_human_size(queue.memory)%></strong>
                  memory
                </div>            
              </div>
              <div class="column lastcolumn">
              </div>
            </div>
            <br clear="all"/>
                        
            <h3>Messages</h3>
            <div class="columns four-column">
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages)%></strong>
                  total
                </div>
              </div>
              <div class="column">            
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages_ready)%></strong>
                  ready
                </div>
              </div>
              <div class="column">
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages_unacknowledged)%></strong>
                  unacknowledged
                </div>            
              </div>
              <div class="column lastcolumn">
                <div class="verticalcenter">
                  <strong class="med"><%=number_with_delimiter(queue.messages_uncommitted)%></strong>
                  uncommitted
                </div>            
              </div>
            </div>
            <br clear="all"/>            
            
          </div>
        <% end %>

      <br/>
      <h2>Connections:</h2>
      <% @connections.select {|c| c.vhost == vhost.name }.each do |c| %>
        PID: <%=c.pid%> PORT: <%=c.port%> PEER ADDRESS: <%=c.peer_address%> PEER PORT: <%=c.peer_port%>
        <br/>
        STATE: <%=c.state%> CHANNELS: <%=c.channels%> TIMEOUT: <%=c.timeout%>
        <br/>
        FRAME MAX: <%=c.frame_max%> 
        USER: <%=c.user%> 
        <br/>
        RECV OCT: <%=c.recv_oct%> RECV CNT: <%=c.recv_cnt%>        
        <br/>
        SEND PEND: <%=c.send_pend%> SEND OCT: <%=c.send_oct%> SEND CNT: <%=c.send_cnt%>                
      <% end %>

      <br/>
      <h2>Users:</h2>
      <ul>
        <% @users.select {|u| u.vhost == vhost.name }.each do |u| %>
          <li><%=u.name%></li>
        <% end %>
      </ul>
    </div>
  <%-end%>
<% end %>
</div>
