<table>
  <tr>
    <th>PID</th>
    <th>Address</th>
    <th>Port</th>
    <th>Peer Address</th>
    <th>Peer Port</th>		
    <th>Recv Oct</th>		
    <th>Recv Cnt</th>		
    <th>Send Oct</th>		
    <th>Send Cnt</th>	
    <th>Send Pend</th>		    	            
    <th>State</th>		
    <th>Channels</th>		
    <th>User</th>		
    <th>VHost</th>		
    <th>Timeout</th>		
    <th>Frame Max</th>		                        
  </tr>
<%- @connections.each do |c| %>
  <tr>
    <td><%=c.pid%></td>
    <td><%=c.address%></td>
    <td><%=c.port%></td>
    <td><%=c.peep_address%></td>
    <td><%=c.peer_port%></td>
    <td><%=c.recv_oct%></td>
    <td><%=c.recv_cnt%></td>
    <td><%=c.send_oct%></td>
    <td><%=c.send_cnt%></td>
    <td><%=c.send_pend%></td>
    <td><%=c.state%></td>
    <td><%=c.channels%></td>
    <td><%=c.user%></td>                                
    <td><%=c.vhost%></td>                                
    <td><%=c.timeout%></td>                                
    <td><%=c.frame_max%></td>                                            
  </tr>
<%- end %>