<html>
  <head>
    <title>Trixx Web Console</title>
    <%= stylesheet_link_tag "/styles/styles.css"%>
  </head>
  <body>
    <div id="header">
      <div id="actions">
        <div class="action-button">
          <% form_tag :controller => "rabbit", :action => "reset", :method => "put" do %>
            <%= submit_tag "Reset" %>
          <% end %>
        </div>
        <div class="action-button">
          <% form_tag :controller => "rabbit", :action => "stop", :method => "put" do %>
            <%= submit_tag "Stop" %>
          <% end %>
        </div>
        <div class="action-button">
          <% form_tag :controller => "rabbit", :action => "start", :method => "put" do %>
            <%= submit_tag "Start" %>
          <% end %>
        </div>
      </div>
      <%=image_tag("/images/trixx-rabbit.png")%>
      <%= link_to "Trixx Dashboard", "/"%>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <hr/>
      Trixx: Silly Rabbit Trixx are for hackers
    </div>
  </body>
</html>
  