<table>
  <tr>
    <th>Name</th>
    <th>VHost</th>
    <th>Config Permission</th>
    <th>Write Permission</th>
    <th>Read Permission</th>		
  </tr>
<%- @users.each do |u| %>
  <tr>
    <td><%=u.name%></td>
    <td><%=u.vhost%></td>
    <td><%=u.config_permission%></td>
    <td><%=u.write_permission%></td>
    <td><%=u.read_permission%></td>
    <td><%= link_to 'Destroy', u, :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
<%- end %>
