<h1>New user</h1>

<% form_tag :action => "create", :method => "post" do %>
  <p> 
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </p>
  <p> 
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p> 
    <%= label_tag :vhost %><br />
    <%= text_field_tag :vhost %>
  </p>
  <p> 
    <%= label_tag :config_permission %><br />
    <%= text_field_tag :config_permission %>
  </p>
  <p> 
    <%= label_tag :write_permission %><br />
    <%= text_field_tag :write_permission %>
  </p>
  <p> 
    <%= label_tag :read_permission %><br />
    <%= text_field_tag :read_permission %>
  </p>
  <p> 
    <%= submit_tag 'Create' %>
  </p>
<% end %>
