<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag :defaults %>

<h1>Add a Binding</h1>

<%= flash_messages %>

<%= error_messages_for :binding %>

<% remote_form_for :vhost, :url => "/bindings/new", :html => { :id => "vhost_form" } do |f| -%>
  <p><%= f.label "Vhost" %></p>
  <p>
    <%= collection_select :vhost, :name, @vhosts, :name, :name %>
    <%= observe_field "vhost_name", :function => "$('vhost_form').submit();" %>
  </p>
<% end -%>

<% form_for :binding, :url => bindings_path do |f| -%>

  <p><%= label_tag 'Exchange' %><br/>
  <%= f.collection_select(:exchange, @exchanges, :name, :name) %></p>

  <p><%= label_tag 'Queue' %><br/>
  <%= f.collection_select(:queue, @queues, :name, :name) %></p>

  <p><%= label_tag 'Routing Key' %><br/>
  <%= f.text_field :routing_key %></p>
  <%= f.hidden_field :vhost, :value => @selected_vhost %>

  <p><%= submit_tag 'Submit' %></p>
<% end -%>
