<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p> 
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p> 
    <%= f.label :vhost %><br />
    <%= f.text_field :vhost %>
  </p>
  <p> 
    <%= f.label :config_permission %><br />
    <%= f.text_field :config %>
  </p>
  <p> 
    <%= f.label :write %><br />
    <%= f.text_field :write %>
  </p>
  <p> 
    <%= f.label :read %><br />
    <%= f.text_field :read %>
  </p>
  <p> 
    <%= submit_tag 'Update' %>
  </p>
<% end %>
