<table>
  <tr>
    <th>Name</th>
    <th>VHost</th>
    <th>Config Permission</th>
    <th>Write Permission</th>
    <th>Read Permission</th>		
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=user.name%></td>
    <td><%=user.vhost%></td>
    <td><%=user.config%></td>
    <td><%=user.write%></td>
    <td><%=user.read%></td>
    <td><%= link_to 'Destroy', { :controller => "users", :action => "destroy", :id => user.name }, :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
