<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Vhost:</b>
  <%=h @user.vhost %>
</p>

<p>
  <b>Config Permissions:</b>
  <%=h @user.config %>
</p>

<p>
  <b>Write Permissions:</b>
  <%=h @user.write %>
</p>

<p>
  <b>Read Permissions:</b>
  <%=h @user.read %>
</p>
